/**
    Secret key for JWT Encryption.
**/
JWT_SECRET=

/**
    Set ups Firebase Admin SDK.
    Find it under Project Settings -> Service Account -> Firebase Admin SDK.
    Do not check the actual file into version control.
**/
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

/**
    Connects to a db schema.
    Template: postgresql://{username}:{password}@{connection:port, default: localhost:5432}/{db name}?schema={db schema}.
**/
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

/**
    Cloudinary fields
**/
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=