/**
    Only this setting will allow for * in CORS. Any other values (including undefined) will block.
**/
NODE_ENV=development

/**
    Secret key for JWT Encryption.
**/
JWT_SECRET=

/**
    Set ups Firebase Admin SDK.
    Find it under Project Settings -> Service Account -> Firebase Admin SDK.
**/
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

/**
    Connects to a db schema.
    Template: postgresql://{username}:{password}@{connection:port, default: localhost:5432}/{db-name}?schema={db schema}.
    On this db, ensure the timezone is running on UTC.
    In psql, run `ALTER DATABASE {db-name} SET timezone TO 'Etc/UTC';` and then restart the postgres service.
**/
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

/**
    Cloudinary fields
**/
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=